<!--<div class="row" *ngFor="let question of listQuestion | async" style="margint-top: 10%">
  <div class="col-md-12 col-sm-12 col-xs-12">
     <p>{{question.DetailQuestion}}</p>
  </div>
</div> -->
<!--<div style="margint-top: 50%">
  <input type="radio" value="beef" name="food" [(ngModel)]="myFood"> Beef
  <input type="radio" value="lamb" name="food" [(ngModel)]="myFood"> Lamb
  <input type="radio" value="fish" name="food" [(ngModel)]="myFood"> Fish
</div>-->
<div style="margin-top: 10%">
        <input type="radio" value="beef" name="food" [(ngModel)]="myFood"> Beef
      <input type="radio" value="lamb" name="food" [(ngModel)]="myFood"> Lamb
      <input type="radio" value="fish" name="food" [(ngModel)]="myFood"> Fish
    
    <p>myFood value: {{ myFood }}</p>
</div>
