<div class="col-md-12 col-xs-12">
  <div class="form-horizontal" style="margin-top:5%;">
    <div class="form-group">
        <label class="control-label col-sm-3" for="email">
          คำถามก่อนเรียน
          <font style="color:#ff0000 ;font-size: 17px">*</font>
        </label>
        <div class="col-sm-9">
          <textarea [(ngModel)]="beforeDetailQuestion" 
                      class="form-control" 
                      rows="5"
                      style="margin-left:12px;width:80%"
                      placeholder="คำถามก่อนเรียน" >
                      </textarea>
        </div>
    </div>
  </div>
</div>
